@import './base.css';
@import 'tailwindcss';

#app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  padding: 9px 25px;
  background-color: var(--brown-dark);
  color: var(--vt-c-white);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: var(--brown-pure);
}
